
body{
    background-image: url(pedidorecibido2.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
}

h1, h3{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    text-shadow:
    -2px -2px 0 white,
    -2px 2px 0 white,
     2px -2px 0 white,
     2px 2px 0 white;
    font-size: 45px;
    color: red;
}